@font-face {
   font-family: "Pinup Pringles";
   src: url("fonts/Pinup.woff2") format("woff2");
}

@font-face {
   font-family: "Rooney";
   src: url(fonts/andesbold.woff2) format("woff2");
}
::-webkit-scrollbar {
   display: none;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   width: 100%;
}

p {
   font-size: 9pt;
   font-weight: 800;
   font-family: "Rooney";
}

h5 {
   font-family: "Pinup Pringles";
   font-size: 15px;
}
h2 {
   font-size: 11vw;
   margin: 0 auto 3vw;
   font-family: "Pinup Pringles";
   line-height: 1.3;
}

h3 {
   font-family: "Rooney";
   font-size: 4vw;
}

a {
   font-family: "Pinup Pringles";
   font-size: 4vw;
}

.overlay {
   visibility: hidden;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(24, 24, 24, 0.956);
   z-index: 1;
   
   ul {
      padding: 150px 15px;
   }

   ul li {
      list-style: none;
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.64);
      padding: 15px 0;
   }

   ul a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 4.8vw;
   }
   .last_link {
      border-bottom: none;
   }
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;

   #menu-toggle {
      display: none;
   }

   
   .header_container {
      background-color: #EA002A;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      padding-top: 13px;
   }
   .left img {
      position: relative;
      width: 52px;
      z-index: 2;
   }

   .right img {
      width: 27px;
      height: 27px;
      margin-top: 5px;
      margin-left: 7px;
   }
   .right {
      display: flex;
   }
   .burger img {
      position: relative;
      margin-left: 25px;
      padding: 0;
      margin-top: 0;
      width: 30px;
      height: 34px;
   }

   .close img {
      position: absolute;
      top: 12px;
      right: 5px;
      width: 40px;
      height: 40px;
      visibility: hidden;
      z-index: 2;
   }
}

main {
   margin-top: 60px;

   .poptopia {
      display: flex;
      flex-direction: column;
   }
   .poptopia img {
      width: 100%;
      margin-bottom: -1px;
   }
   .poptopia_prolongation {
      background-color: #7C1544;
      color: white;
      padding-top: 50px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
   }

   .poptopia_prolongation a,
   .pringoals a {
      text-decoration: none;
      color: #EA002A;
      background-color: white;
      border-radius: 5px;
      padding: 7px 14px;
      cursor: pointer;
      display: inline-block;
      margin-top: 10px;
   }

   .pringoals {
      background-color: #E40426;
      color: white;
   }
   .pringoals_text h2 {
      font-size: 35px;
      line-height: 100%;
   }
   
   .pringoals_text {
      padding: 20px 15px;
      padding-top: 50px;
   }
   .pringoals_text h5 {
      margin-bottom: 15px;
   }

   .pringoals_text p {
      margin: 10px 0;
   }
   .pringoals_text a {
      padding: 8px 50px ;
   }
   .pringoals img {
      margin-bottom: -5px;
      border-bottom: 1px solid rgba(103, 103, 103, 0.24);
   }

   .conditions_generales {
      background-color: #00BDF2;
      color: white;
      padding: 20px 15px;
   }
   .conditions_generales p {
      margin: 5px 0;
   }
   .conditions_generales a {
      color: white;
      font-family: "Rooney";
      font-size: 12px;
   }

   .produits {
      margin-top: -5px;
      text-align: center;
      padding: 30px 15px;
      padding-bottom: 0;
      margin-bottom: ;
      background-color: #009E80;
      color: white;
   }

   .produits h2 {
      text-transform: uppercase;
      line-height: 100%;
      margin: 12px 0;
      font-size: 5vh;
   }

   .produits_title {
      font-family: 'Pinup Pringles';
      font-size: 2.5vh;
   }

   .produits_description {
      font-family: 'Rooney';
      font-size: 2vh;
      line-height: 110%;
      margin-bottom: 25px;
   }

   .produits a {
      color: white;
      text-decoration: none;
      border: 1px solid white;
      background-color: #E40426;
      padding: 10px 24px;
      border-radius: 5px;
      display: inline-block;
   }

   .produits img {
      margin-bottom: -4px;
   }

   .pringles_histoire {
      text-align: center;
      margin-top: 30px;
   }

   .pringles_histoire h2 {
      color: #E40426;
      line-height: 100%;
      text-transform: uppercase;
      font-size: 30px;
   }

   .pringles_histoire p {
      padding: 0 15px;
      color: #bebebe;
   }

   .pringles_histoire a {
      text-decoration: none;
      color: white;
      background-color: #E40426;
      padding: 10px 17px;
      display: inline-block;
      margin-top: 15px;
      border-radius: 5px;
   }

   .pringles_histoire img {
      margin-bottom: -4px;
   }
}

footer {
   background-color: #E40426;
   padding: 30px 15px;
   padding-bottom: 40px;

   .navigation li {
      list-style: none;
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.282);
   }

   .navigation a {
      text-decoration: none;
      color: white;
   }

   .navigation {
      margin-bottom: 35px;
   }

   .social_links ul {
      display: flex;
   }

   .social_links  ul li {
      list-style: none;
   }

   .social_links ul img {
      width: 30px;
      height: 30px;
      margin-right: 1em;
      margin-bottom: 20px;
   }

   .copyright p {
      color: white;
      font-size: 2.4vw;
      margin-bottom: 10px;
   }
}